<div class="p-5 mb-4 rounded-3 text-light mt-5">
  <div class="container mx-auto text-center py-1">
    <h1 class="display-5 fw-bold">Welcome to ToDo List App</h1>
    <p class="my-5 fs-4">
          A to-do list app streamlines task management, offering a user-friendly interface for efficient organization. Features include task creation, prioritization, and categorization. Users can set due dates, receive reminders, and mark tasks as completed. With intuitive navigation, the app ensures a seamless experience for tracking and accomplishing daily responsibilities.</p>
    <% if user_signed_in? %>
      <%= link_to 'Add Task', new_task_path, class: "btn btn-primary" %>
    <% else %>
      <%= link_to 'Join Now', new_user_registration_path, class: "btn btn-dark fs-4 px-4" %>
    <% end %>
      </div>
</div>